*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace, "sans-serif";
    background-color: rgb(189, 189, 248);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
h1{
    font-size: 24px;
    font-weight: 100;
    line-height: 48px;
    padding: 30px;
    text-align: center;
    top:20px;
}
.container{
    margin-top:20px;
    width:50vw;
    height: 250px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.credentials{
    width:50vw;
    height: 270px;
    background-color: rgb(33, 33, 33);
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
}
form input:focus{
    outline: none;
}
form input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    border: 1px solid rgb(230 227 227);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    padding: 10px 0px;
}
button{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 30px;
    border:2px solid rgb(130, 130, 255);
    background-color: rgb(130, 130, 255);
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credentials{
    color:white;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
}
.credentials ul{
    list-style-type: none;
    list-style-position: inside;
    margin-left: 20px;
}
.usernames{
    width: 50%;
    height: 100%;
    white-space: nowrap;
}
.credentials h1{
    font-size: 20px;
    font-weight: 100;
    padding: 30px;
    text-align: center;
    top:20px;
   margin-left: -30px;
}

.passwords{
    font-size: 20px;
    font-weight: 100;
    padding: 30px;
    text-align: center;
    top:20px;
    white-space: nowrap;
}
.passwords h1{
    margin-left:20px
}

ul li{
    margin-top: 3px;
}

.passwords ul{
    margin-right: 10px;
}